@import '../../styles/mixins.scss';

.container {
  border-bottom: 1px solid $accent-color;
  padding-bottom: 20px;

  @include for-tablet-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}

.logo {
  margin-right: 10px;
}

.color {
  color: $accent-color;
}

.name {
  font-size: 36px;
}

.title {
  font-size: 14px;
}

.description {
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}
